.principal {
    background-image: url('../src/images/footer/giphy.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blur {
    height: 100vh;
    backdrop-filter: blur(40px) saturate(110%) brightness(50%) contrast(120%);
    display: flex;
    justify-content: center;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.divImg{
    width: 50%;
    display: flex;
    justify-content: center;
}
#imagem {
    max-width: 550px;
    max-height: 350px;
    width: auto;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    margin-left: 10%;
}


.divTxt{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.conjunto{
    max-width: 520px;
    max-height: 350px;
    background-color: rgb(0,0,0,0.4);
    padding: 20px;
    text-align: justify;
    border-radius: 20px;
    margin-right: 10%;
}
.titulo {
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 40px;
}
.paragrafoPrincipal{
    font-size: 18px;
}


span{
    font-weight: bold;
    text-shadow: 0px 0px 6px rgb(255,255,255,0.3);
}
