body{
    background-color: #6248FF;
    background-attachment: fixed;

}

main{
    margin-top: 0px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.conteudo > img{
    border-radius: 20px;
    box-shadow: 0px 3px 10px black;
}

.texto{
    width: 50%;
    text-align: center;
}
.texto > p{
    font-size: 24px;
    height: 100%;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}
input, button{
    background-color: #6248FF;
    color: white;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgb(0, 20,50);
    width: 200px;
    height: 30px;
    text-align: center;
    cursor: default;
    transition: all 0.2s;
    outline: 0;
    border: solid 3px #6248FF;
}

input:focus{
    transform: scaleX(110%);
}

input:hover, button:hover{
    background-color: transparent;

}

button{
    width:230px;
    height:50px;
    cursor: pointer;
    font-size: 24px;
    margin: 20px;
}

.download {
    transition: 0.3s ease-in-out;
    filter: invert(1);
    transform: scale(1.5);
}

button:hover{
    transform: scale(1.01); 
}

.download:hover {
    transform: scale(1.7);
}

.container{
    display: flex;
    flex-direction: row;
}
.direita, .esquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}