@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #148BB3;
    --secundaria: #54AECC;
    --background: #2A4058;
    --backgroundHeader: #333333;
    --backgroundHeaderSecundaria: #2c2c2c;
    --backgroundHover: #666666;
    --letra: #ffffff;
    --letraEscura: #000000;
}



/* TELA PRINCIPAL */
.principal {
    background-image: url('../src/images/footer/giphy.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.blur {
    display: flex;
    flex-direction: row;
    height: 100vh;
    backdrop-filter: blur(150px) saturate(500%) brightness(40%) contrast(80%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
}

.titulo {
    transition: all 0.3s;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

.titulo:hover {
    transition: all 0.3s;
    text-shadow: 8px 8px 0px rgb(0, 0, 0);
}

.flecha:hover {
    transition: all 0.3s;
    text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.575);
    transform: scale(1.05);
}

.paragrafoPrincipal {
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.575);
    padding: 30px 0px;
    text-align: center;
}

.flecha{
    transition: all 0.3s;
    max-width: auto;
    max-height: auto;
    width: 60px;
}
/* FINAL TELA PRINCIPAL */



/* CONTEÚDO */
.conteudo, .conteudoDentro {
    transition: all 0.3s;
    margin: auto;
    margin-top: 50px;
    max-width: 600px;
    min-height: 50px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    color: var(--letraEscura);
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
    background-color: #f1f1f1;
}

.conteudo {
    margin-bottom: 50px;
}

.conteudo-pointer:hover {
    cursor: pointer;
}

.conteudo h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 30px 0px;
}

p {
    margin: 15px 0px;
}

.conteudoDentro {
    background-color: white;
}

#imagens {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    height: auto;
    width: 80%;
}

#imagens:hover {
    transition: all 0.3s;
    transform: scale(1.01);
}

.botao {
    border: solid 1px black;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.exercicio{
    cursor: pointer;
}

.padding-conteudo {
    margin: 50px;
}

.sub{
    text-align: center;
    font-weight: bold;
}

.btns-algo{
    display: flex;
}

.btns-algo > a{
    transition: all 0.3s;
    background-color: #DADADA;
    border: none;
    padding: 15px 0px;
    margin: 20px;
    font-size: 110%;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bolder;
    width: 40%;
    text-align: center;
}

a:hover{
    transform: scale(105%); 
}

#res_vetor,
#res1,
#resValores{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

#res_vet_cre,
#res_vet_decre,
#res_soma,
#res2,
#res3,
#res4,
#resValores,
#resOrdenada,
#resMedia{
    text-align: center;
    margin-bottom: 20px;
}



/* FINAL CONTEÚDO */