.conteudo:first-child{
    margin-top: 20px;
}


.flecha {
    width: 70px;
    height: auto;
    margin: 90px 0px 0px 40px;

    transition: all 0.3s;
}

.flecha:hover {
    transform: scale(110%);
}