main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.exerciciosJS{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 900px;
}

.exerciciosJS:first-child{
    margin-top: 110px;
}


.exerciciosJS h2 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.exerciciosJS img{
    width: 700px;
    height: 500px;
    margin: 40px 0px;
    border-radius: 20px;
}