@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #148BB3;
    --secundaria: #54AECC;
    --background: #2A4058;
    --backgroundHeader: #333333;
    --backgroundHeaderSecundaria: #2c2c2c;
    --backgroundHover: #666666;
    --letra: #ffffff;
    --letraEscura: #000000;
}

/* TELA PRINCIPAL */
.principal {
    background-image: url('../src/images/icons/giphy.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.blur {
    display: flex;
    flex-direction: row;
    height: 100vh;
    backdrop-filter: blur(30px) saturate(100%) brightness(40%) contrast(120%);
}

.principalDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 70px;
}

.titulo {
    transition: all 0.3s;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.575);
    cursor: default;
}

.titulo:hover {
    text-shadow: 10px 10px 5px black;
}

.paragrafoPrincipal {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.575);
    padding: 90px 0px;
    text-align: center;
    cursor: default;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link a, h1{
    text-decoration: none;
}
/* FINAL TELA PRINCIPAL */





/* CONTEÚDO */
.titulo-01,
.titulo-02{
    font-size: 35px;
    transition: all 0.3s;
    border-radius: 8px;
    border: 1px solid #ffffff;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 25vw ;
    height: 30px auto;   
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    margin: 10px 20px;
    padding: 10px;
    text-decoration: none;
}

.titulo-01:hover,
.titulo-02:hover{
    transform: scale(105%);
}

.conteudo{
    font-size: 25px;
    transition: all 0.3s;
    border-radius: 8px;
    padding: 50px;
    margin: 25px;
    color: var(--letraEscura);
}

.infoFluxo-01, 
.infoFluxo-02,
.infoFluxo-03{
    margin: 80px auto;
    color: black;
    text-align: center;
    max-width: 1200px;
    background-color: rgb(230,230,230);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.tituloFluxo-01{
    font-size: 80px;
    margin-bottom: 40px;
    text-shadow: rgb(112, 111, 111) 1px 0 10px;;
}

.infos > p{
    color: black;
    text-align: center;
    max-width: 1000px;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img{
    border: solid 1px black;    
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.tituloFluxo-padrao{
    font-size: 80px;
    margin-bottom: 40px;
    text-shadow: rgb(112, 111, 111) 1px 0 10px;
}

.p-fluxo{
    margin-top: 40px;
}


ul{
    margin-top: 30px;
}
/* FIM CONTEÚDO */