/* TELA PRINCIPAL */
.principalDireita {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoPrincipal {
    transition: all 0.3s;
    width: 40%;
    animation-name: logoAnimacao;
    animation-duration: 40s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.principalEsquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.titulo {
    width: 60%;
    margin-bottom: 0px;
}

.paragrafoPrincipal {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.575);
    padding-bottom: 50px;
    text-align: center;
    cursor: default;
}

.flecha{
    width: 60px;
    transition: all 0.3s;
}
.flecha:hover{
    width: 60px;
    transform: scale(115%);
}

/* classe de animação de surgimento da logo e slogan */
#iconPrincipal {
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
}

#logoAnimacao {
    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

#sloganAnimacao {
    animation: scale-in-center2 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}

#setaAnimacao {
    animation: scale-in-center3 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.8s both;
}


/* ANIMAÇÕES */

/* rotacao e fade */
@keyframes logoAnimacao {
    100% {
        rotate: -360deg;
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes scale-in-center2 {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes scale-in-center3 {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}