@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #148BB3;
    --secundaria: #54AECC;
    --background: #2A4058;
    --backgroundHeader: #333333;
    --backgroundHeaderSecundaria: #2c2c2c;
    --backgroundHover: #666666;
    --letra: #ffffff;
    --letraEscura: #000000;
}


/* TELA PRINCIPAL */
.principalEsquerda {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoPrincipal {
    transition: all 0.3s;
    transform: scale(2.6);
    animation-name: logoAnimacao;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* .logoPrincipal {
    transition: all 0.3s;
    transform: scale(2.6);
}

.logoPrincipal:hover {
    animation-name: logoAnimacao;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */

.principalDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 90px;
}

.titulo {
    transform: scale(30%);
}

.paragrafoPrincipal {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.575);
    padding-bottom: 50px;
    text-align: center;
    cursor: default;
}

.flecha{
    width: 60px;
    transition: all 0.3s;
}

.flecha:hover{
    width: 60px;
    transform: scale(115%);
}

   /* ANIMAÇÕES */
   @keyframes logoAnimacao {
    100% {
        rotate: -360deg;
    }
}
/* FINAL TELA PRINCIPAL */



/* PROJETOS */
.conteudo {
    font-size: 25px;
    transition: all 0.3s;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 50px;
    margin: 25px;
    color: var(--letraEscura);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.conteudo:hover {
    transition: all 0.3s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.75);
}

.projetos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px auto;
    max-width: 1200px;
    min-width: 50px;
}

.projetos img {
    float: left;
    width: 300px;
    height: auto;
    margin: 0px auto 30px auto;
    border-radius: 15px;
}

.projetos div {
    text-align: justify;
}

.projetos h2 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.projetos a {
    text-decoration: none;
    color: var(--letraEscura);
}

/* FINAL PROJETOS */