@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    overflow: hidden;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    display: flex;
}

.esquerda {
    background-color: black;
    width: 55vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 5%;
    width: 40vw; 
    flex-shrink: 0;
}

.direita {
    background-color: black;
    width: 45vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login{
    text-align: center;
    margin-right: 5%;
    width: 35vw;
    height: 85vh;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box-login > h1{
    color: white;
}

.box-login > input{
    width: 80%;
    height: 6%;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.612);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

i{
    font-size: 30px;
    cursor: pointer;

    position: absolute;
    right: 12%;
    bottom: 43.4%;
}

