@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #148BB3;
    --secundaria: #54AECC;
    --background: #2A4058;
    --backgroundHeader: #333333;
    --backgroundHeaderSecundaria: #2c2c2c;
    --backgroundHover: #666666;
    --letra: #ffffff;
    --letraEscura: #000000;
}



/* GLOBAIS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

body {
    color: var(--letra);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

li {
    list-style-position: inside;
    margin: 15px 0px;
}
/* FINAL GLOBAIS */



/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: var(--letra);
    z-index: 100;
    transition: all 0.3s;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: var(--letra);
}

header nav a {
    font-weight: bold;
    text-decoration: none;
    color: var(--letra);
    margin: 0px 10px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 5px;
}

.logoHeader {
    margin-right: auto;
}

.logoHeader:hover {
    background-color: transparent;
    animation-name: logoAnimacao;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#voltar {
    background-color: #88888833;
    border-radius: 99px;
    filter: invert(90%);
    cursor: pointer;
}

header nav a img {
    max-width: 100px;
    max-height: 30px;
    width: auto;
    height: auto;
}

header nav a:hover, #voltar:hover {
    background-color: var(--backgroundHover);
    transform: scale(1.05);
}

header.scrolled {
    background-color: transparent; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px) saturate(100%) brightness(40%) contrast(100%);
}

    /* ANIMAÇÕES */
    @keyframes logoAnimacao {
        0% {
            border-radius: 10px;
            opacity: 0.3;
            border-radius: 50px;
            rotate: 0deg;
        }
    
        25% {
            border-radius: 10px;
            opacity: 0.3;
            border-radius: 50px;
            rotate: 90deg;
        }
    
        50% {
            border-radius: 10px;
            opacity: 0.3;
            border-radius: 50px;
            rotate: 180deg;
        }
    
        75% {
            border-radius: 10px;
            opacity: 0.3;
            border-radius: 50px;
            rotate: 270deg;
        }
    
        100% {
            border-radius: 10px;
            opacity: 0.3;
            border-radius: 50px;
            rotate: 360deg;
        }
    }

/* FINAL HEADER */



/* MENU DE DROPDOWN */
header nav li {
    list-style-type: none;
}

.dropMenu {
    position: absolute;
    display: none;
}

.dropDown a {
    display: block;
    transition: 0.3s;
    margin: 5px;
}

.dropDown:hover .dropMenu {
    display: block;
    background-color: var(--backgroundHeaderSecundaria);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    text-align: left;
}
/* FINAL MENU DE DROPDOWN */



/* RODAPÉ */
footer {
    background-color: var(--backgroundHeader);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

footer p {
    padding: 20px;
}

footer a img {
    max-width: 100px;
    max-height: 30px;
    padding: 3px 5px;
    width: auto;
    height: auto;
    margin: 10px;
    filter: invert(100%);
    border-radius: 5px;
    transition: 0.3s;
}

footer a img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.329));
    filter: invert(100%);
}
/* FINAL RODAPÉ */



/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--backgroundHeader);
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid hsla(0, 0%, 0%, 0.753);
}
/* FINAL SCROLL BAR */