@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #148BB3;
    --secundaria: #54AECC;
    --background: #1A3640;
    --backgroundHeader: #333333;
    --backgroundHover: #666666;
    --letra: #ffffff;
}

/* GLOBAIS */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color:var(--background);
    color: var(--letra);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
/* FINAL GLOBAIS */



/* HEADER */
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--backgroundHeader);
    padding: 10px 10px;
    color: var(--letra);
} 

header nav a {
    font-weight: bold;
    text-decoration: none;
    color: var(--letra);
    margin: 0px 10px;
    padding: 5px 15px;
    transition: all 0.3s;
    border-radius: 5px;
}

header nav a:first-child {
    margin-right: auto;
}

header nav .logo img {
    max-width: 100px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.hover:hover{
    transition: all 0.3s;
    background-color: var(--backgroundHover);
}
/* FINAL HEADER */



/* TELA PRINCIPAL */
.principal{
    display: flex;
    flex-direction: row;
}
.principalEsquerda{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.principalDireita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
/* FINAL TELA PRINCIPAL */



/* MENU DE DROPDOWN */
nav li{
    list-style-type: none;
}

.dropMenu{
    position: absolute;
    display: none;
}

.dropDown a{
    display: block;
    transition: 0.3s;
}

.dropDown:hover .dropMenu{
    display: block;
    background-color: var(--backgroundHeader);
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    width: 150px;
    text-align: left;
    transition: 0.3s;
}
/* FINAL MENU DE DROPDOWN */



/* RESPONSIVO */
@media (max-width: 680px) {
    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav a {
        margin: 10px 0;
    }

    header nav a:first-child {
        margin-right: 0;
    }

    header nav a img {
        max-width: 80px;
        max-height: 24px;
    }
}
/* FINAL RESPONSIVO */