@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #148BB3;
    --secundaria: #54AECC;
    --background: #2A4058;
    --backgroundHeader: #333333;
    --backgroundHeaderSecundaria: #2c2c2c;
    --backgroundHover: #666666;
    --letra: #ffffff;
    --letraEscura: #000000;
}

/* GLOBAIS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

body {
    color: var(--letra);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* FINAL GLOBAIS */

/* MENU DE DROPDOWN */
header nav li {
    list-style-type: none;
}

.dropMenu {
    position: absolute;
    display: none;
}

.dropDown a {
    display: block;
    transition: 0.3s;
    margin: 5px;
}

.dropDown:hover .dropMenu {
    display: block;
    background-color: var(--backgroundHeaderSecundaria);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    text-align: left;
}

/* FINAL MENU DE DROPDOWN */



/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--backgroundHeader);
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid hsla(0, 0%, 0%, 0.753);
}

/* FINAL SCROLL BAR */



/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: var(--letra);
    z-index: 100;
    transition: all 0.3s;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: var(--letra);
}

header nav a {
    font-weight: bold;
    text-decoration: none;
    color: var(--letra);
    margin: 0px 10px;
    padding: 5px 15px;
    transition: all 0.3s;
    border-radius: 5px;
}

header nav a:first-child {
    margin-right: auto;
}

header nav .logo img {
    max-width: 100px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.hover:hover {
    background-color: var(--backgroundHover);
}


header.scrolled {
    background-color: var(--backgroundHeader); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
}

/* FINAL HEADER */



/* MENU DE DROPDOWN */
header nav li {
    list-style-type: none;
}

.dropMenu {
    position: absolute;
    display: none;
}

.dropDown a {
    display: block;
    transition: 0.3s;
    margin: 5px;
}

.dropDown:hover .dropMenu {
    display: block;
    background-color: var(--backgroundHeaderSecundaria);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    text-align: left;
}

/* FINAL MENU DE DROPDOWN */



/* RODAPÉ */
footer {
    background-color: var(--backgroundHeader);
    padding: 20px 350px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

hr {
    display: block;
    margin: 30px;
    border-style: inset;
    border-width: 1px;
    border-radius: 50px;
}

.imagemHeader {
    max-width: 100px;
    max-height: 30px;
    padding: 3px 5px;
    width: auto;
    height: auto;
    margin-right: 20px;
    filter: invert(100%);
}

.imagemHeader:hover{
    background-color: var(--backgroundHover);
    border-radius: 5px;
    transition: 0.3s;
}

.logoHeader {
    margin-right: 20px;
    padding: 3px 5px;
    max-width: 100px;
    max-height: 30px;
    width: auto;
    height: auto;
}

.logoHeader:hover{
    background-color: var(--backgroundHover);
    border-radius: 5px;
    transition: 0.3s;
}

.copyright {
    padding-right: 90px;
}
/* FINAL RODAPÉ */