body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px black ;
    color: white;
    background-color: #111826;  
}

span{
    color: #F29F05;
}

input {
    border-radius: 1000px;
    border: none;
    width: 90px;
    text-align: center;
}

button {
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    height: 40px;
    transition: 0.3s;
    font-size: 20px;
}

button:hover{
    background-color: #A6751B;
    transition: 0.3s;
    box-shadow: 1px 1px 5px #A6751B;
}

#res1, #res2, #res3, #res4{
    margin-top: 30px;
    
}